<h1> <center>  Welcome to TaskMaster! </center></h1>
<p align="center">I am a.... </p>

<center> <%= link_to "Task Master", new_task_path %> </center>

<center> <%= link_to "Task Doer", tasks_path %> </center>
